@{
    ViewBag.Title = "Home Page";
}

@*script for icons*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.13.0/devicon.min.css">

<div class="container cont-top">
    <div class="row">
        <div class="container">
            <h1 class="h1-learn">Learn continually <small>- there's always "one more thing" to learn! </small></h1>
            <hr class="hr-index-heading" />
        </div>
    </div>
    <div class="row row-cont">
        <div class="col-md-6">
            <div class="hovereffect">
                <img class="img-responsive img-rounded" src="~/Content/photos/index-logo.png" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="heading-about">
                <span class="text-white">About</span> <span class="text-green-500">BoxOfCourses</span>
            </h2>
            <p class="text-justify p-about">
                BoxOfCourses was established to <span style="color: #C126EA; font-weight: 700">speed-up </span>the search of
                the specific course that anyone wants. The creator is Ljupcho Dimitriev, student at FCSE,
                <i class="faculty-name">Faculty of Computer Science and Engineering, Skopje - </i><a class="faculty-link" href="https://www.finki.ukim.mk/">FINKI</a>.
            </p>
            <a class="get-in-touch-button btn btn-success" href="~/Home/SendEmail">Get in touch</a>
            <br />
            <br />
            <p class="text-justify p-about2">
                Here you can watch courses, tutorials, and build better skills that will deliver you results as soon as possible.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="quote-centered">
            @*<h4 class="where-effective-learning-happens"><span class="text-green-400">W</span>here <span class="text-green-400">e</span>ffective <span class="text-green-400">l</span>earning <span class="text-green-400">h</span>appens</h4>*@
            <h4 style="color: #C126EA">Where effective learning happens</h4>
        </div>
    </div>

    <div class="row row-5">
        <div class="container">
            <h2 class="marvelousAt">BoxOfCourses is <span class="text-green-500-marvelous">MARVELOUS</span> at...</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 most-quality">
            <h3 class="text-green-500">Showing the most-quality <br />free programming courses  <ion-icon style="color: orange;" name="code-slash-outline"></ion-icon></h3>
            <p class="text-white-500">Took your coding knowledge from a total beginner level to a very confident...</p>
        </div>

        <div class="col-md-4 best-solutions">
            <h3 class="text-green-500">Help you find the <br />best solutions <ion-icon style="color: orange;" name="bulb-outline"></ion-icon></h3>
            <p class="text-white-500">Identify your problems but give your power and energy to solutions.</p>
        </div>

        <div class="col-md-4 problem-solving">
            <h3 class="text-green-500">Problem solving <ion-icon style="color: orange;" name="build-outline"></ion-icon></h3>
            <p class="text-white-500">Simplicity is the soul of efficiency.</p>
        </div>
    </div>

    <div class="bottom-cont row">
        <div class="col-md-7">
            <img class="lets-build" src="~/Content/photos/lets-build.png" />
        </div>
        <div class="col-md-5 ">
            <h2 class="build-together">Ready to learn something <span class="text-green-500-together">together</span>?</h2>
            <p class="lets-start"><a style="color: #5ABD64" class="text-green-500-together" href="~/Courses/Index">Let<span class="build-together">'</span>s start<span class="build-together">!</span></a></p>
        </div>
    </div>
</div>

<div class="container-fluid coding-tips-downside-container">
    <div class="coding-tips-downside" style="height: auto; margin: auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; width: 500px;">

        <div class="row row-icons">
            <div class="col-sm-1"><a href="/Courses?java"><img class="icon-java" src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo--v1.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?javascript"><img class="icon-javascript" src="https://img.icons8.com/color/48/000000/javascript--v1.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?python"><img class="icon-python" src="https://img.icons8.com/color/48/000000/python--v1.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?git"><img class="icon-git" src="https://img.icons8.com/color/48/000000/git.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?php"><img class="icon-php" src="https://img.icons8.com/officel/48/000000/php-logo.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?vue-js"><img class="icon-vue-js" src="https://img.icons8.com/color/48/000000/vue-js.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?docker"><img class="icon-docker" src="https://img.icons8.com/color/48/000000/docker.png" /></a></div>
        </div>
        <div class="row row-icons">
            <div class="col-sm-1"><a href="/Courses?flutter"><img class="icon-flutter" src="https://img.icons8.com/color/48/000000/flutter.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?c++"><img class="icon-c-plus-plus" src="https://img.icons8.com/color/48/000000/c-plus-plus-logo.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?c#"><img class="icon-c-sharp" src="https://img.icons8.com/color/48/000000/c-sharp-logo.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?ruby"><img class="icon-ruby" src="https://img.icons8.com/color/48/000000/ruby-programming-language.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?react"><img class="icon-react" src="https://img.icons8.com/ultraviolet/48/000000/react--v2.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?wordpress"><img class="icon-wordpress" src="https://img.icons8.com/fluency/48/000000/wordpress.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?arduino"><img class="icon-arduino" src="https://img.icons8.com/color/48/000000/arduino.png" /></a></div>
        </div>
        <div class="row row-icons-last">
            <div class="col-sm-1"><a href="/Courses?html"><img class="icon-html" src="https://img.icons8.com/color/48/000000/html-5--v1.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?css"><img class="icon-css" src="https://img.icons8.com/color/48/000000/css3.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?node-js"><img class="icon-node-js" src="https://img.icons8.com/color/48/000000/nodejs.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?angular"><img class="icon-angular" src="https://img.icons8.com/color/48/000000/angularjs.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?swift"><img class="icon-swift" src="https://img.icons8.com/color/48/000000/swift.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?type-script"><img class="icon-type-script" src="https://img.icons8.com/color/48/000000/typescript.png" /></a></div>
            <div class="col-sm-1"><a href="/Courses?sql"><img class="icon-mysql" src="https://img.icons8.com/color/48/000000/mysql-logo.png" /></a></div>
        </div>
    </div>
</div>

<div class="icon-bar text-right icon-bar-social-links">
    <a class="social-links-icons-a icon-instagram" href="https://www.finki.ukim.mk/" target="_blank"><ion-icon class="icon-instagram" name="logo-instagram"></ion-icon></a>
    <a class="social-links-icons-a" href="https://www.finki.ukim.mk/" target="_blank"><ion-icon class="icon-youtube" name="logo-youtube"></ion-icon></a>
    <a class="social-links-icons-a" href="https://www.finki.ukim.mk/" target="_blank"><ion-icon class="icon-twitter" name="logo-twitter"></ion-icon></a>
    <a class="social-links-icons-a" href="https://github.com/DimitrievLjupce" target="_blank"><ion-icon class="icon-github" name="logo-github"></ion-icon></a>
</div>

❤️

<style>

    .cont-top {
        padding-top: 22px;
    }

    #firsth1 {
        padding-top: 20px;
        color: white;
    }

    .text-green-500 {
        color: #5ABD64;
        font-size: 35px;
        font-weight: 700;
    }

    .text-white {
        --text-opacity: 1;
        font-size: 35px;
        color: white;
    }

    .row-5 {
        padding-top: 40px;
    }

    .imgSize {
        height: 180px;
        width: 220px;
    }

    .marvelousAt {
        font-family: 'Open Sans Condensed', sans-serif;
        padding-bottom: 50px;
        margin-top: 40px;
        color: white;
        font-size: 2.65em;
        font-weight: 700;
        --text-opacity: 1;
    }

    .text-green-500-marvelous {
        color: #5ABD64;
        font-weight: 700;
    }

    .col-md-3 {
        padding-top: 18px;
    }

    .carousel {
        padding-bottom: 20px;
    }

    .item {
        height: 30vh;
    }

    .covered {
        width: 100%;
    }

    .h1-learn {
        color: #5ABD64;
        font-weight: bold;
        font-style: italic;
    }

    .heading-about {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 600;
    }

    .p-about {
        padding-top: 20px;
        font-size: 18px;
        color: white;
    }

    .p-about2 {
        font-size: 18px;
        color: white;
    }

    .faculty-name {
        color: gray;
    }

    .faculty-link {
        color: #5ABD64;
        font-size: 18px;
        font-weight: 500;
    }

    .quote-centered {
        text-align: center;
        font-style: italic;
        margin-top: 20px;
        color: #6A746B;
        border: 1px solid #303641;
        border-radius: 8px;
        margin-top: 60px;
    }

    .text-green-400 {
        color: #5ABD64;
    }

    .hr-index-heading {
        border: 0.5px solid #303641;
    }

    .text-white-500 {
        color: white;
        font-size: 17px;
        font-weight: 500;
    }

    .best-solutions, .most-quality, .problem-solving {
        height: 260px;
    }

        .most-quality:hover {
            background-color: #303b51;
            border-radius: 2px;
        }

        .best-solutions:hover {
            background-color: #303b51;
            border-radius: 2px;
        }

        .problem-solving:hover {
            background-color: #303b51;
            border-radius: 2px;
        }

        .lets-build {
            width: 550px;
            height: 400px;
            margin-top: 50px;
            border-radius: 12px;
        }

        .build-together {
            margin-top: 70px;
            color: white;
            font-size: 45px;
            font-weight: 700;
        }

        .text-green-500-together {
            color: #5ABD64;
        }

        .lets-start {
            font-size: 40px;
            font-weight: 700;
            margin-top: 50px;
            border: 2px solid white;
            padding: 3px;
            width: 250px;
            text-align: center;
        }

        .lets-start a {
            text-decoration: none;
        }

        .lets-start:hover {
            background-color: #303b51;
            border: 2px solid #5ABD64;
        }


        @*tuka*@
        .icon-bar-social-links {
        position: fixed;
        top: 45%;
        right: 5%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        }

        /* Style the icon bar links */
        .icon-bar  ion-icon {
            display: block;
            text-align: center;
            padding: 16px;
            transition: all 0.3s ease;
            font-size: 35px;
            position: relative;
            cursor: pointer;
        }

        .social-links-icons-a {
            color: #6A746B;
        }

        .icon-youtube:hover {
            color: red;
        }

        .icon-instagram:hover {
            color: #E1306C;
        }

        .icon-twitter:hover {
            color: #1DA1F2;
        }

        .icon-github:hover {
            color: black;
        }

        .devicon-android-plain {
            color: green;
            height: 100px!important;
            width: 50px!important;
        }
        .bottom-cont{
            margin-bottom: 50px;
        }

        .where-effective-learning-happens{
            color: white;
        }

        .row-icons {
            padding-top: 20px;
            margin-bottom: 20px;
        }

        .row-icons-last {
            padding-bottom: 50px;
        }

        .coding-tips-downside-container {
            background-color: #303b51;
        }

        .coding-tips-downside div {
            display: inline-flex;
            width: 700px;
            cursor: pointer;
        }

        .coding-tips-downside {
            margin-top: 100px;
        }

        .get-in-touch-button {
            color: black;
        }

</style>

@section scripts{
    <script>
      
        $(".icon-java").on("mouseover", function () {
            $(".icon-java").attr("src", 'https://img.icons8.com/ios/48/000000/java-coffee-cup-logo--v1.png')
        }).on("mouseout", function () {
            $(".icon-java").attr("src", 'https://img.icons8.com/color/48/000000/java-coffee-cup-logo--v1.png')
        })

        $(".icon-javascript").on("mouseover", function () {
            $(".icon-javascript").attr("src", 'https://img.icons8.com/ios-filled/48/000000/javascript.png')
        }).on("mouseout", function () {
            $(".icon-javascript").attr("src", 'https://img.icons8.com/color/48/000000/javascript--v1.png')
        })


        $(".icon-c-plus-plus").on("mouseover", function () {
            $(".icon-c-plus-plus").attr("src", 'https://img.icons8.com/ios-filled/48/000000/c-plus-plus-logo.png')
        }).on("mouseout", function () {
            $(".icon-c-plus-plus").attr("src", 'https://img.icons8.com/color/48/000000/c-plus-plus-logo.png')
        })

        $(".icon-python").on("mouseover", function () {
            $(".icon-python").attr("src", 'https://img.icons8.com/ios-filled/48/000000/python.png')
        }).on("mouseout", function () {
            $(".icon-python").attr("src", 'https://img.icons8.com/color/48/000000/python--v1.png')
        })

        $(".icon-flutter").on("mouseover", function () {
            $(".icon-flutter").attr("src", 'https://img.icons8.com/ios-filled/48/000000/flutter.png')
        }).on("mouseout", function () {
            $(".icon-flutter").attr("src", 'https://img.icons8.com/color/48/000000/flutter.png')
        })

        $(".icon-git").on("mouseover", function () {
            $(".icon-git").attr("src", 'https://img.icons8.com/ios-filled/48/000000/git.png')
        }).on("mouseout", function () {
            $(".icon-git").attr("src", 'https://img.icons8.com/color/48/000000/git.png')
        })


        $(".icon-c-sharp").on("mouseover", function () {
            $(".icon-c-sharp").attr("src", 'https://img.icons8.com/ios-filled/48/000000/c-sharp-logo.png')
        }).on("mouseout", function () {
            $(".icon-c-sharp").attr("src", 'https://img.icons8.com/color/48/000000/c-sharp-logo.png')
        })


        $(".icon-ruby").on("mouseover", function () {
            $(".icon-ruby").attr("src", 'https://img.icons8.com/ios-filled/48/000000/ruby-programming-language.png')
        }).on("mouseout", function () {
            $(".icon-ruby").attr("src", 'https://img.icons8.com/color/48/000000/ruby-programming-language.png')
        })

        $(".icon-html").on("mouseover", function () {
            $(".icon-html").attr("src", 'https://img.icons8.com/ios-filled/48/000000/html-5--v1.png')
        }).on("mouseout", function () {
            $(".icon-html").attr("src", 'https://img.icons8.com/color/48/000000/html-5--v1.png')
        })

        $(".icon-css").on("mouseover", function () {
            $(".icon-css").attr("src", 'https://img.icons8.com/ios-filled/48/000000/css3.png')
        }).on("mouseout", function () {
            $(".icon-css").attr("src", 'https://img.icons8.com/color/48/000000/css3.png')
        })

        $(".icon-node-js").on("mouseover", function () {
            $(".icon-node-js").attr("src", 'https://img.icons8.com/windows/48/000000/nodejs.png')
        }).on("mouseout", function () {
            $(".icon-node-js").attr("src", 'https://img.icons8.com/color/48/000000/nodejs.png')
        })

        $(".icon-angular").on("mouseover", function () {
            $(".icon-angular").attr("src", 'https://img.icons8.com/ios-filled/48/000000/angularjs.png')
        }).on("mouseout", function () {
            $(".icon-angular").attr("src", 'https://img.icons8.com/color/48/000000/angularjs.png')
        })

        $(".icon-php").on("mouseover", function () {
            $(".icon-php").attr("src", 'https://img.icons8.com/ios-filled/48/000000/php-logo.png')
        }).on("mouseout", function () {
            $(".icon-php").attr("src", 'https://img.icons8.com/officel/48/000000/php-logo.png')
        })

        $(".icon-react").on("mouseover", function () {
            $(".icon-react").attr("src", 'https://img.icons8.com/ios/48/000000/react-native--v2.png"')
        }).on("mouseout", function () {
            $(".icon-react").attr("src", 'https://img.icons8.com/ultraviolet/48/000000/react--v2.png')
        })


        $(".icon-swift").on("mouseover", function () {
            $(".icon-swift").attr("src", 'https://img.icons8.com/ios-glyphs/48/000000/swift.png')
        }).on("mouseout", function () {
            $(".icon-swift").attr("src", 'https://img.icons8.com/color/48/000000/swift.png')
        })


        $(".icon-vue-js").on("mouseover", function () {
            $(".icon-vue-js").attr("src", 'https://img.icons8.com/windows/48/000000/vuejs.png')
        }).on("mouseout", function () {
            $(".icon-vue-js").attr("src", 'https://img.icons8.com/color/48/000000/vue-js.png')
        })

        $(".icon-wordpress").on("mouseover", function () {
            $(".icon-wordpress").attr("src", 'https://img.icons8.com/material-outlined/48/000000/wordpress--v1.png')
        }).on("mouseout", function () {
            $(".icon-wordpress").attr("src", ' https://img.icons8.com/fluency/48/000000/wordpress.png')
        })

        $(".icon-type-script").on("mouseover", function () {
            $(".icon-type-script").attr("src", 'https://img.icons8.com/ios-filled/48/000000/typescript.png')
        }).on("mouseout", function () {
            $(".icon-type-script").attr("src", 'https://img.icons8.com/color/48/000000/typescript.png')
        })

        $(".icon-docker").on("mouseover", function () {
            $(".icon-docker").attr("src", 'https://img.icons8.com/ios-filled/48/000000/docker.png')
        }).on("mouseout", function () {
            $(".icon-docker").attr("src", 'https://img.icons8.com/color/48/000000/docker.png')
        })

        $(".icon-arduino").on("mouseover", function () {
            $(".icon-arduino").attr("src", 'https://img.icons8.com/ios-filled/48/000000/arduino.png')
        }).on("mouseout", function () {
            $(".icon-arduino").attr("src", 'https://img.icons8.com/color/48/000000/arduino.png')
        })


        $(".icon-mysql").on("mouseover", function () {
            $(".icon-mysql").attr("src", 'https://img.icons8.com/ios-filled/48/000000/mysql-logo.png')
        }).on("mouseout", function () {
            $(".icon-mysql").attr("src", 'https://img.icons8.com/color/48/000000/mysql-logo.png')
        })

        
    </script>
}


